<div class="main">
  <!-- left block -->
  <div>
    <div class="left-inner-block">
      <h4>Est. 2018 · Hyderabad</h4>
      <h1>Where Every Cup Tells a Story</h1>
      <p>
        Handcrafted coffee, freshly baked pastries, and a warm corner to call your own. Come as you
        are.
      </p>
      <input
        type="text"
        [(ngModel)]="btnLabel"
        placeholder="enter button name"
        style="padding: 10px; margin-bottom: 10px"
      />
      <!-- <button>Update</button> -->

      <!-- older version -->
      <!-- <div *ngIf="btnLabel.length > 5">
        {{ btnLabel }}
      </div> -->
      <small>Older version</small>

      <!-- ngFor older version -->
      <div *ngFor="let name of dataList">
        {{ name }}
      </div>
      <br />
      <div>New version</div>
      @for (item of dataList; track $index) {
        <div>
          {{ item }}
        </div>
      }

      <!-- new version -->
      <!-- @if (btnLabel.length > 15) {
         {{ btnLabel }}
       } @else {
         data
       } -->

      <br />
      <div class="row">
        <button type="button" class="explore-btn">
          {{ btnLabel }}
        </button>
        <button type="button" class="find-btn">Find Us</button>
      </div>
    </div>
  </div>

  <!-- right block -->
  <div>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRiqcWrk-T3o6bC6Wfd637fm-xHGIYWc691QTaz9Zymg&s"
      alt="coffee-image"
      class="coffee-img"
    />
  </div>
</div>

<!-- two-way data binding -->
<!-- sync the data between ts and html  -->
<!-- Common module, forms module -->
<!-- syntax: []-> property binding | ()-> event binding -->
<!-- ngModel => [()] -> banana in a box -->

<!-- Use cases: Forms, calculators -->

<!-- *ngIf => older version -->
<!-- *ngFor => older version -->

<!-- @if -> new version -->
<!-- @for -->

<!-- attribute directives -->
<!-- there will be two types -> [ngClass] for normal class seelctor styles | [ngStyle] ued for inline styles for an element -->

<!-- [ngStyle] used inline styles -->
<!-- <p [ngStyle]="{'color': status ? 'blue' : 'red'}" >
    naveen is {{status ? 'active' :'inactive'}}
</p> -->

<!-- [ngClass] used for normal class selectors -->
<div [ngClass]="{ active: status }">my status</div>
