<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Account Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Account Number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ELEMENT_DATA">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.accNum }}</td>
      <td>
        <div class="g-2">
          <button class="btn btn-primary" (click)="openDialog(item,'deposit')">Deposit</button>
          <button class="btn btn-primary" (click)="openDialog(item,'withdraw')">Withdraw</button>
          <button class="btn btn-primary" (click)="openDialog(item,'transfer')">Transfer</button>
                     <button class="btn btn-primary" (click)="openDialog(item,'update')">Update</button>

        </div>
      </td>
    </tr>
  </tbody>
</table>
